@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500");

body {
  background: linear-gradient(147deg, #8c54e9 0%, #4b76e7 74%);
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: "poppins";
  text-align: center;
}
.tweetContainer {
  display: flex;
  justify-content: center;
}
.tweetContainer > div {
  margin: 20px;
}
.action {
  cursor: pointer;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 10px;
  font-family: "poppins";
  font-weight: bold;
  font-size: 1.3em;
  background: none;
  margin: 10px 0 2px 2px;
}

.tweet {
  font-size: 0.9em;
  color: #c1b5ec;
}

input[type="text"] {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.postBtn {
  border: 1px solid #ffffff;
  background: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
}
/* .reverse {
  transform: rotate(180deg);
} */
