@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background: #15202b;
  /* background: linear-gradient(300deg, #43c6ac 0%, #191654 190%); */
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: "poppins";
  text-align: center;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.leftside {
  height: 100vh;
  border-right: 1px solid gray;
  position: fixed;
  width: 230px;
  background-color: #15202b;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 20px;
}
.leftside p {
  color: rgb(240, 240, 240);
  font-weight: lighter;
  margin-top: -10px;
  font-size: 0.6em;
}
.rightside {
  position: relative;
  left: 150px;
  /* border: 1px solid #fff; */
}
.fa-image {
  margin-top: 5px;
  cursor: pointer;
}

.action {
  cursor: pointer;
  color: #ffffff;
  border: none;
  background: none;
  width: 100px;
  margin-top: 20px;
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
}
.action:hover {
  border-radius: 10%;
  color: #52a2f3 !important;
  background-color: #192d40;
}
.action i {
  margin-right: 10px;
}
.postTweet {
  margin: 0 auto;
  border: 1px solid gray;
  height: 140px;
  width: 500px;
}

.tweet {
  font-size: 1em;
  color: #fff;
  font-weight: lighter;
  display: block;
  margin-top: 11px;
  font-family: "Roboto", sans-serif;
}
input[type="text"] {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.postBtn {
  border: 1px solid #ffffff;
  background: #52a2f3;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8em;
}
/* .reverse {
  transform: rotate(180deg);
} */
.logOutBtn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  margin: 10px;
  font-weight: bold;
  padding: 5px 10px;
}
.logOutBtn:hover {
  border-radius: 10%;
  color: #52a2f3;
  background-color: #192d40;
}
.myClass {
  transform: rotate(180deg);
}

#userImg {
  border-radius: 50%;
  cursor: pointer;
}
#userImg:hover {
  opacity: 0.7;
}

.image-upload {
  display: flex;
  flex-direction: column-reverse;
}
.image-upload > #fileInp {
  display: none;
}
#tweet {
  border: none;
  margin: 10px;
  padding: 10px;
  width: 410px;
}
#tweet:focus {
  outline: none;
  border-bottom: 1px solid gray;
}
#dimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}
.selectPnT > label {
  margin: 35px 0 0 390px;
}
.selectPnT > label > i {
  position: relative;
  top: 5px;
  right: 5px;
}
.pictureImg > div > #postImg {
  display: none;
}
.pictureImg img {
  width: 50px;
}

.email {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 0.5em;
}

.tweetCard {
  margin: 0 5px;
  border-radius: 5px;
  width: 70%;
  height: 20%;
  word-wrap: break-word;
}
.onTweet {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px 10px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
}
.onTweet > h3 {
  font-size: medium;
}
.onTweet > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: -10px;
}
.onTweet > .postUrl {
  border-radius: 15px !important;
  width: 425px;
  height: 246px;
  margin-top: -38px;
  margin-left: 54px;
}
#allTweets h3 {
  display: inline-block;
  text-align: left;
  padding: 20px;
  margin-top: -68px;
  margin-left: 39px;
  font-weight: bold;
  font-size: 1em;
}
#userTweets h3 {
  display: inline-block;
  text-align: left;
  padding: 20px;
  margin-top: -68px;
  margin-left: 39px;
  font-weight: bold;
  font-size: 1em;
}
/* .tweetImg{
  width: 50px;
  border-radius: 50%;
} */
.profileImage {
  width: 120px;
  height: 120px;
}
.tweetEmail {
  font-size: 0.75em;
  color: darkgray;
  margin-left: 5px;
  font-weight: lighter;
}
