@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500");

body {
  background: linear-gradient(300deg, #43c6ac 0%, #191654 190%);
  min-height: 100vh;
  width: 100%;
  color: white;
  font-family: "poppins";
  overflow-x: hidden;
  text-align: center;
  margin: 0;
}

.tweetContainer > div {
  margin: 20px;
}
.action {
  cursor: pointer;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 10px;
  font-family: "poppins";
  font-weight: bold;
  font-size: 1.3em;
  background: none;
  margin: 10px 0 2px 2px;
}

.tweet {
  font-weight: 100;
  font-size: 0.8em;
  color: #fff;
}

input[type="text"] {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

.postBtn {
  border: 1px solid #ffffff;
  background: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
}
/* .reverse {
  transform: rotate(180deg);
} */
.logOutBtn {
  border: 1px solid #ffffff;
  background: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  position: absolute;
  padding: 10px;
  top: 20px;
  right: 10px;
}
.uBtn {
  border: 1px solid #ffffff;
  background: none;
  border-radius: 5px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}
#userImg {
  border-radius: 50%;
  cursor: pointer;
}
#userImg:hover {
  opacity: 0.9;
}
.image-upload {
  display: flex;
  flex-direction: column-reverse;
}
.image-upload > #fileInp {
  display: none;
}
.email {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 0.5em;
}
.nav {
  display: flex;

  flex-wrap: wrap;
}
.nav h1 {
  position: relative;
  left: 45%;
  /* left: 30rem; */
}

.userBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  position: fixed;
  top: 10px;
  border: 1px solid #fff;
  border-radius: 12px;
  width: 17%;
}
.tweetCard {
  margin: 0 5px;
  border-radius: 5px;
  width: 70%;
  height: 20%;
  word-wrap:break-word
  
}
.onTweet{
  display: flex;
 width: 50%;
 padding: 0 10px;
 margin: 0 auto ;
  text-align: center;
  border-top: 1px solid white;
}
.onTweet>img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  
}
#allTweets h3 {
  display: inline-block;
  text-align: left;
  padding: 20px;
  
}
#userTweets h3 {
  display: inline-block;
  text-align: left;
  padding: 20px;
  -webkit-box-shadow: -6px 7px 22px -2px rgba(0, 0, 0, 0.22);
  box-shadow: -6px 7px 22px -2px rgba(0, 0, 0, 0.22);
}
/* .tweetImg{
  width: 50px;
  border-radius: 50%;
} */
.profileImage{
  width: 150px;
  height: 150px;
}
